textarea {
  width: 100%;
  height: 100px;
}
textarea,
input {
  display: block;
}
input[name=username] {
  width: 20em;
}
#chatter {
  display: none;
}
#messages .message>div {
  display: inline-block;
  min-width: 10em;
  max-width: 100%;
}
#messages .message .content p,
#messages .message .content pre {
  margin: 0;
  padding: 0.5em;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
#messages .message .username {
  margin: 0;
  padding: 0 1em 0.5em 0.5em;
  text-align: right;
  font-style: italic;
  font-size: 0.85em;
}
#messages .message .username time {
  font-style: normal;
  margin-right: 0.5em;
  float: left;
}
#messages .message:nth-child(odd) div {
  background-color: #e8e8e8;
}
#messages .message:nth-child(even) div {
  background-color: #e0e0e0;
}
#users p,
#chatrooms p {
  margin-bottom: 0;
}
#users ul,
#chatrooms ul {
  margin-top: 0;
  padding-left: 2em;
}
#users ul li,
#chatrooms ul li {
  display: inline;
}
#users ul li:first-of-type:before,
#chatrooms ul li:first-of-type:before {
  content: '';
}
#users ul li:before,
#chatrooms ul li:before {
  content: ', ';
}